<%= form_with(model: evaluation, local: true) do |form| %>
  <% if evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h2>

      <ul>
      <% evaluation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" hidden>
    <%= form.label :project_assignment_id %>
    <%= form.text_field :project_assignment_id, id: :evaluation_project_assignment_id %>
  </div>

  <div class="field">
    <h4>Justificación de la utilidad cultural del proyecto. </h4>
    <%= form.label "Observación" %>
    <%= form.text_field :justification_text, id: :evaluation_justification_text %>
    <%= form.label "Ponderación" %>
    <%= form.number_field :justification_value, id: :evaluation_justification_value , :max => 5, :min => 1%>
  </div>


  <div class="field">
    <h4>La claridad de los objetivos específicos.</h4>
    <%= form.label "Observación" %>
    <%= form.text_field :clarity_text, id: :evaluation_clarity_text %>
    <%= form.label "Ponderación" %>
    <%= form.number_field :clarity_value, id: :evaluation_clarity_value  , :max => 5, :min => 1%>
  </div>

  <div class="field">
    <h4>Los plazos para la aplicación de los recursos (distribución de las actividades en el cronograma).</h4>
    <%= form.label "Observación" %>
    <%= form.text_field :timeframe_text, id: :evaluation_timeframe_text %>
    <%= form.label "Ponderación" %>
    <%= form.number_field :timeframe_value, id: :evaluation_timeframe_value  , :max => 5, :min => 1%>
  </div>


  <div class="field">
    <h4>El esquema que se utilizará para comprobar las actividades realizadas.</h4>
    <%= form.label "Observación" %>
    <%= form.text_field :schema_text, id: :evaluation_schema_text %>
    <%= form.label "Ponderación" %>
    <%= form.number_field :schema_value, id: :evaluation_schema_value  , :max => 5, :min => 1%>
  </div>


  <div class="field">
    <h4>Excelencia, entendida como un concepto que engloba a lo mejor del proceso creador de las artes y la cultura.</h4>
    <%= form.label "Observación" %>
    <%= form.text_field :excellence_text, id: :evaluation_excellence_text %>
    <%= form.label "Ponderación" %>
    <%= form.number_field :excellence_value, id: :evaluation_excellence_value  , :max => 5, :min => 1%>
  </div>



  <div class="field">
    <h4>Creatividad, que se refiere a la capacidad artística para introducir en una actividad, producto o corriente artística existente, elementos que modifiquen sus características originales, logrando con ello dotarla de un nuevo enfoque.</h4>
    <%= form.label "Observación" %>
    <%= form.text_field :creativity_text, id: :evaluation_creativity_text %>
    <%= form.label "Ponderación" %>
    <%= form.number_field :creativity_value, id: :evaluation_creativity_value  , :max => 5, :min => 1%>
  </div>


  <div class="field">
    <h4>Originalidad, entendida como la generación de un producto cultural que se distingue entre otros por contener elementos o características diferentes a los ya existentes.</h4>
    <%= form.label "Observación" %>
    <%= form.text_field :originality_text, id: :evaluation_originality_text %>
    <%= form.label "Ponderación" %>
    <%= form.number_field :originality_value, id: :evaluation_originality_value  , :max => 5, :min => 1%>
  </div>




  <div class="field">
    <h4>Innovación, concepto referido a la introducción de elementos en la construcción de una obra de arte, generando luego en su uso un precedente que pueda dar inicio a una tendencia, escuela o corriente.</h4>
    <%= form.label "Observación" %>
    <%= form.text_field :innovation_text, id: :evaluation_innovation_text %>
    <%= form.label "Ponderación" %>
    <%= form.number_field :innovation_value, id: :evaluation_innovation_value  , :max => 5, :min => 1%>
  </div>


  <div class="field">
    <h4>Factibilidad de realizar el proyecto teniendo en cuenta los antecedentes curriculares de los postulantes, el monto de los recursos disponibles en el FOMAC y la integridad (seguridad) de los participantes y el público al que se refiere el proyecto.</h4>
    <%= form.label "Observación" %>
    <%= form.text_field :feasibility_text, id: :evaluation_feasibility_text %>
    <%= form.label "Ponderación" %>
    <%= form.number_field :feasibility_value, id: :evaluation_feasibility_value  , :max => 5, :min => 1%>
  </div>

  <div class="field">
    <h4>Impacto potencial que tenga el otorgamiento del estímulo para el desarrollo del artista y/o del proyecto propuesto.</h4>
    <%= form.label "Observación" %>
    <%= form.text_field :impact_text, id: :evaluation_impact_text %>
    <%= form.label "Ponderación" %>
    <%= form.number_field :impact_value, id: :evaluation_impact_value  , :max => 5, :min => 1%>
  </div>


  <div class="actions">
    <%= form.submit "Guardar" , :class => 'waves-effect waves-light btn', :style=>'color:white'%>
  </div>
<% end %>
