<p id="notice"><%= notice %></p>

<p>
  <strong>Project assignment:</strong>
  <%= @evaluation.project_assignment %>
</p>

<p>
  <strong>Justification text:</strong>
  <%= @evaluation.justification_text %>
</p>

<p>
  <strong>Justification value:</strong>
  <%= @evaluation.justification_value %>
</p>

<p>
  <strong>Clarity text:</strong>
  <%= @evaluation.clarity_text %>
</p>

<p>
  <strong>Clarity value:</strong>
  <%= @evaluation.clarity_value %>
</p>

<p>
  <strong>Timeframe text:</strong>
  <%= @evaluation.timeframe_text %>
</p>

<p>
  <strong>Timeframe value:</strong>
  <%= @evaluation.timeframe_value %>
</p>

<p>
  <strong>Schema text:</strong>
  <%= @evaluation.schema_text %>
</p>

<p>
  <strong>Schema value:</strong>
  <%= @evaluation.schema_value %>
</p>

<p>
  <strong>Excellence text:</strong>
  <%= @evaluation.excellence_text %>
</p>

<p>
  <strong>Excellence value:</strong>
  <%= @evaluation.excellence_value %>
</p>

<p>
  <strong>Creativity text:</strong>
  <%= @evaluation.creativity_text %>
</p>

<p>
  <strong>Creativity value:</strong>
  <%= @evaluation.creativity_value %>
</p>

<p>
  <strong>Originality text:</strong>
  <%= @evaluation.originality_text %>
</p>

<p>
  <strong>Originality value:</strong>
  <%= @evaluation.originality_value %>
</p>

<p>
  <strong>Innovation text:</strong>
  <%= @evaluation.innovation_text %>
</p>

<p>
  <strong>Innovation value:</strong>
  <%= @evaluation.innovation_value %>
</p>

<p>
  <strong>Innovation text:</strong>
  <%= @evaluation.innovation_text %>
</p>

<p>
  <strong>Innovation value:</strong>
  <%= @evaluation.innovation_value %>
</p>

<p>
  <strong>Feasibility text:</strong>
  <%= @evaluation.feasibility_text %>
</p>

<p>
  <strong>Feasibility value:</strong>
  <%= @evaluation.feasibility_value %>
</p>

<p>
  <strong>Impact text:</strong>
  <%= @evaluation.impact_text %>
</p>

<p>
  <strong>Impact value:</strong>
  <%= @evaluation.impact_value %>
</p>

<%= link_to 'Edit', edit_evaluation_path(@evaluation) %> |
<%= link_to 'Back', evaluations_path %>
