<div>
  <div class="col s12" style="border-top: 1px solid rgba(160,160,160,0.2); margin-top: 24px;">
    <span class="card-title" style="margin-top: 24px;">Evidencias Teatro</span>
    <ul class="collection">

      <li class="collection-item avatar">
        <i class="material-icons circle">folder</i>
        <span class="title">Video de muestra</span>
        <div style="margin-top:16px">
          <%= f.text_field :video, disabled:true%>
          <a class='dropdown-button btn' href='#' data-activates='videofilm'>Validar Video de muestra</a>
          <ul id='videofilm' class='dropdown-content'>
            <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"videofilm",:status=>"Valido", :model=>"theater_evidence")%>"data-confirm="¿Estás seguro?">Validar</a></li>
            <%if get_observation_id("videofilm") != ""%>
              <li><a href="<%=edit_revision_path(get_observation_id("videofilm"))%>">Editar observacion</a></li>
            <%else%>
              <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"videofilm",:status=>"Invalido", :model=>"visual_evidence")%>">Agregar observaciones</a></li>
            <%end%>
          </ul>
          <%if get_status("videofilm") == "Invalido"%>
            <div class="input-field">
              <textarea class="materialize-textarea" disabled><%=get_observation("videofilm")%></textarea>
            </div>
          <%end%>
        </div>
        <div class="secondary-content">
          <%= get_status("videofilm") %>
        </div>
      </li>


      <li class="collection-item avatar">
        <i class="material-icons circle">folder</i>
        <span class="title">Demo reel</span>
        <div style="margin-top:16px">
          <%= f.text_field :demo, disabled:true%>
          <a class='dropdown-button btn' href='#' data-activates='demofilm'>Validar Demo reel</a>
          <ul id='demofilm' class='dropdown-content'>
            <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"demofilm",:status=>"Valido", :model=>"theater_evidence")%>"data-confirm="¿Estás seguro?">Validar</a></li>
            <%if get_observation_id("demofilm") != ""%>
              <li><a href="<%=edit_revision_path(get_observation_id("demofilm"))%>">Editar observacion</a></li>
            <%else%>
              <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"demofilm",:status=>"Invalido", :model=>"visual_evidence")%>">Agregar observaciones</a></li>
            <%end%>
          </ul>
          <%if get_status("demofilm") == "Invalido"%>
            <div class="input-field">
              <textarea class="materialize-textarea" disabled><%=get_observation("demofilm")%></textarea>
            </div>
          <%end%>
        </div>
        <div class="secondary-content">
          <%= get_status("demofilm") %>
        </div>
      </li>

      <li class="collection-item avatar">
        <i class="material-icons circle">folder</i>
        <span class="title">Sitio web</span>
        <div style="margin-top:16px">
          <%= f.text_field :web , disabled: true%>
          <a class='dropdown-button btn' href='#' data-activates='webfilm'>Validar Sitio web</a>
          <ul id='webfilm' class='dropdown-content'>
            <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"webfilm",:status=>"Valido", :model=>"visual_evidence")%>"data-confirm="¿Estás seguro?">Validar</a></li>
            <%if get_observation_id("webfilm") != ""%>
              <li><a href="<%=edit_revision_path(get_observation_id("webfilm"))%>">Editar observacion</a></li>
            <%else%>
              <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"webfilm",:status=>"Invalido", :model=>"visual_evidence")%>">Agregar observaciones</a></li>
            <%end%>
          </ul>
          <%if get_status("webfilm") == "Invalido"%>
            <div class="input-field">
              <textarea class="materialize-textarea" disabled><%=get_observation("webfilm")%></textarea>
            </div>
          <%end%>
        </div>
        <div class="secondary-content">
          <%= get_status("webfilm") %>
        </div>
      </li>







      <li class="collection-item avatar">
        <i class="material-icons circle">folder</i>
        <span class="title">Sinopsis</span>
        <div style="margin-top:16px">
           <%= link_to 'Descargar Sinopsis', f.object.synopsis.url , :target=>"_blank", :class => 'waves-effect waves-light btn', :style => 'color:white;'%>
          <a class='dropdown-button btn' href='#' data-activates='synopsis'>Validar Sinopsis</a>
          <ul id='synopsis' class='dropdown-content'>
            <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"synopsis",:status=>"Valido", :model=>"visual_evidence")%>"data-confirm="¿Estás seguro?">Validar</a></li>
            <%if get_observation_id("synopsis") != ""%>
              <li><a href="<%=edit_revision_path(get_observation_id("synopsis"))%>">Editar observacion</a></li>
            <%else%>
              <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"synopsis",:status=>"Invalido", :model=>"visual_evidence")%>">Agregar observaciones</a></li>
            <%end%>
          </ul>
          <%if get_status("synopsis") == "Invalido"%>
            <div class="input-field">
              <textarea class="materialize-textarea" disabled><%=get_observation("synopsis")%></textarea>
            </div>
          <%end%>
        </div>
        <div class="secondary-content">
          <%= get_status("synopsis") %>
        </div>
      </li>



      <li class="collection-item avatar">
        <i class="material-icons circle">folder</i>
        <span class="title">Guion</span>
        <div style="margin-top:16px">
          <%= link_to 'Descargar Guion', f.object.script.url , :target=>"_blank", :class => 'waves-effect waves-light btn', :style => 'color:white;'%>
          <a class='dropdown-button btn' href='#' data-activates='scriptfilm'>Validar Guion</a>
          <ul id='scriptfilm' class='dropdown-content'>
            <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"scriptfilm",:status=>"Valido", :model=>"visual_evidence")%>"data-confirm="¿Estás seguro?">Validar</a></li>
            <%if get_observation_id("scriptfilm") != ""%>
              <li><a href="<%=edit_revision_path(get_observation_id("scriptfilm"))%>">Editar observacion</a></li>
            <%else%>
              <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"scriptfilm",:status=>"Invalido", :model=>"visual_evidence")%>">Agregar observaciones</a></li>
            <%end%>
          </ul>
          <%if get_status("scriptfilm") == "Invalido"%>
            <div class="input-field">
              <textarea class="materialize-textarea" disabled><%=get_observation("scriptfilm")%></textarea>
            </div>
          <%end%>
        </div>
        <div class="secondary-content">
          <%= get_status("scriptfilm") %>
        </div>
      </li>



      <li class="collection-item avatar">
        <i class="material-icons circle">folder</i>
        <span class="title">Plan</span>
        <div style="margin-top:16px">

          <%= link_to 'Descargar Plan', f.object.plan.url , :target=>"_blank", :class => 'waves-effect waves-light btn', :style => 'color:white;'%>
          <a class='dropdown-button btn' href='#' data-activates='plan'>Validar Plan</a>
          <ul id='plan' class='dropdown-content'>
            <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"plan",:status=>"Valido", :model=>"visual_evidence")%>"data-confirm="¿Estás seguro?">Validar</a></li>
            <%if get_observation_id("plan") != ""%>
              <li><a href="<%=edit_revision_path(get_observation_id("plan"))%>">Editar observacion</a></li>
            <%else%>
              <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"plan",:status=>"Invalido", :model=>"visual_evidence")%>">Agregar observaciones</a></li>
            <%end%>
          </ul>
          <%if get_status("plan") == "Invalido"%>
            <div class="input-field">
              <textarea class="materialize-textarea" disabled><%=get_observation("plan")%></textarea>
            </div>
          <%end%>
        </div>
        <div class="secondary-content">
          <%= get_status("plan") %>
        </div>
      </li>


      <li class="collection-item avatar">
        <i class="material-icons circle">folder</i>
        <span class="title">Carta</span>
        <div style="margin-top:16px">
          <%= link_to 'Descargar Carta', f.object.letter.url , :target=>"_blank", :class => 'waves-effect waves-light btn', :style => 'color:white;'%>
          <a class='dropdown-button btn' href='#' data-activates='letterfilm'>Validar Carta</a>
          <ul id='letterfilm' class='dropdown-content'>
            <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"letterfilm",:status=>"Valido", :model=>"visual_evidence")%>"data-confirm="¿Estás seguro?">Validar</a></li>
            <%if get_observation_id("letterfilm") != ""%>
              <li><a href="<%=edit_revision_path(get_observation_id("letterfilm"))%>">Editar observacion</a></li>
            <%else%>
              <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"letterfilm",:status=>"Invalido", :model=>"visual_evidence")%>">Agregar observaciones</a></li>
            <%end%>
          </ul>
          <%if get_status("letterfilm") == "Invalido"%>
            <div class="input-field">
              <textarea class="materialize-textarea" disabled><%=get_observation("letterfilm")%></textarea>
            </div>
          <%end%>
        </div>
        <div class="secondary-content">
          <%= get_status("letterfilm") %>
        </div>
      </li>


    </ul>
  </div>
</div>


<!--



<div >
  Cine y video
  <%= f.hidden_field :id %>
  <%= f.label 'Video de muestra' %>
  <%= f.text_field :video %>
  <%= f.label 'Demo reel' %>
  <%= f.text_field :demo %>
  <%= f.label 'Sitio web' %>
  <%= f.text_field :web %>
  <div class="file-field input-field">
    <div class="btn">
      <span>
        Cargar
        <%= f.file_field :synopsis %>
      </span>
    </div>
    <div class="file-path-wrapper">
      <%= text_field_tag nil, f.object.synopsis_identifier, class: 'file-path validate', placeholder: 'Sinopsis' %>
    </div>
  </div>
  <div class="file-field input-field">
    <div class="btn">
      <span>
        Cargar
        <%= f.file_field :script %>
      </span>
    </div>
    <div class="file-path-wrapper">
      <%= text_field_tag nil, f.object.script_identifier, class: 'file-path validate', placeholder: 'Guion' %>
    </div>
  </div>


  <div class="file-field input-field">
    <div class="btn">
      <span>
        Cargar
        <%= f.file_field :plan %>
        <%= text_field_tag nil, f.object.plan_identifier, class: 'file-path validate', placeholder: 'Plan' %>

      </span>
    </div>
    <div class="file-path-wrapper">
      <%= text_field_tag nil, f.object.plan_identifier, class: 'file-path validate', placeholder: 'Plan' %>
    </div>
  </div>
  <div class="file-field input-field">
    <div class="btn">
      <span>
        Cargar
        <%= f.file_field :letter%>
      </span>
    </div>
    <div class="file-path-wrapper">
      <%= text_field_tag nil, f.object.letter_identifier, class: 'file-path validate', placeholder: 'Carta' %>
    </div>
  </div>
  <div class="file-field input-field">
    <div class="btn">
      <span>
        Cargar
        <%= f.file_field :script %>
      </span>
    </div>
    <div class="file-path-wrapper">
      <%= text_field_tag nil, f.object.script_identifier, class: 'file-path validate', placeholder: 'Guion' %>
    </div>
  </div>
</div>
-->