<div>
  <div class="col s12" style="border-top: 1px solid rgba(160,160,160,0.2); margin-top: 24px;">
    <span class="card-title" style="margin-top: 24px;">Evidencias Teatro</span>
    <ul class="collection">

      <li class="collection-item avatar">
        <i class="material-icons circle">folder</i>
        <span class="title">Video de muestra</span>
        <div style="margin-top:16px">
            <%= f.text_field :video, disabled:true%>
          <a class='dropdown-button btn' href='#' data-activates='video'>Validar Video de muestra</a>
          <ul id='video' class='dropdown-content'>
            <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"video",:status=>"Valido", :model=>"theater_evidence")%>"data-confirm="¿Estás seguro?">Validar</a></li>
            <%if get_observation_id("video","theater_evidence") != ""%>
              <li><a href="<%=edit_revision_path(get_observation_id("video","theater_evidence"))%>">Editar observacion</a></li>
            <%else%>
              <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"video",:status=>"Invalido", :model=>"theater_evidence")%>">Agregar observaciones</a></li>
            <%end%>
          </ul>
          <%if get_status("video","theater_evidence") == "Invalido"%>
            <div class="input-field">
              <textarea class="materialize-textarea" disabled><%=get_observation("video","theater_evidence")%></textarea>
            </div>
          <%end%>
        </div>
        <div class="secondary-content">
          <%= get_status("video","theater_evidence") %>
        </div>
      </li>

      <li class="collection-item avatar">
        <i class="material-icons circle">folder</i>
        <span class="title">Sitio web</span>
        <div style="margin-top:16px">
          <%= f.text_field :web , disabled: true%>
          <a class='dropdown-button btn' href='#' data-activates='webtheat'>Validar Sitio web</a>
          <ul id='webtheat' class='dropdown-content'>
            <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"web",:status=>"Valido", :model=>"theater_evidence")%>"data-confirm="¿Estás seguro?">Validar</a></li>
            <%if get_observation_id("web","theater_evidence") != ""%>
              <li><a href="<%=edit_revision_path(get_observation_id("web","theater_evidence"))%>">Editar observacion</a></li>
            <%else%>
              <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"web",:status=>"Invalido", :model=>"theater_evidence")%>">Agregar observaciones</a></li>
            <%end%>
          </ul>
          <%if get_status("web","theater_evidence") == "Invalido"%>
            <div class="input-field">
              <textarea class="materialize-textarea" disabled><%=get_observation("web","theater_evidence")%></textarea>
            </div>
          <%end%>
        </div>
        <div class="secondary-content">
          <%= get_status("web","theater_evidence") %>
        </div>
      </li>



      <li class="collection-item avatar">
        <i class="material-icons circle">folder</i>
        <span class="title">Carta</span>
        <div style="margin-top:16px">
          <%= link_to 'Descargar Carta', f.object.letter.url , :target=>"_blank", :class => 'waves-effect waves-light btn', :style => 'color:white;'%>
          <a class='dropdown-button btn' href='#' data-activates='lettertheather'>Validar Carta</a>
          <ul id='lettertheather' class='dropdown-content'>
            <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"letter",:status=>"Valido", :model=>"theater_evidence")%>"data-confirm="¿Estás seguro?">Validar</a></li>
            <%if get_observation_id("letter","theater_evidence") != ""%>
              <li><a href="<%=edit_revision_path(get_observation_id("letter","theater_evidence"))%>">Editar observacion</a></li>
            <%else%>
              <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"letter",:status=>"Invalido", :model=>"theater_evidence")%>">Agregar observaciones</a></li>
            <%end%>
          </ul>
          <%if get_status("letter","theater_evidence") == "Invalido"%>
            <div class="input-field">
              <textarea class="materialize-textarea" disabled><%=get_observation("letter","theater_evidence")%></textarea>
            </div>
          <%end%>
        </div>
        <div class="secondary-content">
          <%= get_status("letter","theater_evidence") %>
        </div>
      </li>


      <li class="collection-item avatar">
        <i class="material-icons circle">folder</i>
        <span class="title">Guion</span>
        <div style="margin-top:16px">
          <%= link_to 'Descargar Guion', f.object.script.url , :target=>"_blank", :class => 'waves-effect waves-light btn', :style => 'color:white;'%>
          <a class='dropdown-button btn' href='#' data-activates='scripttheather'>Validar Guion</a>
          <ul id='scripttheather' class='dropdown-content'>
            <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"script",:status=>"Valido", :model=>"theater_evidence")%>"data-confirm="¿Estás seguro?">Validar</a></li>
            <%if get_observation_id("script","theater_evidence") != ""%>
              <li><a href="<%=edit_revision_path(get_observation_id("script","theater_evidence"))%>">Editar observacion</a></li>
            <%else%>
              <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"script",:status=>"Invalido", :model=>"theater_evidence")%>">Agregar observaciones</a></li>
            <%end%>
          </ul>
          <%if get_status("script","theater_evidence") == "Invalido"%>
            <div class="input-field">
              <textarea class="materialize-textarea" disabled><%=get_observation("script","theater_evidence")%></textarea>
            </div>
          <%end%>
        </div>
        <div class="secondary-content">
          <%= get_status("script","theater_evidence") %>
        </div>
      </li>



      <li class="collection-item avatar">
        <i class="material-icons circle">folder</i>
        <span class="title">Imágenes</span>
        <div style="margin-top:16px">
          <% f.object.image.each do |ob| %>
            <%= link_to 'Descargar', ob.url , :target=>"_blank", :class => 'waves-effect waves-light btn', :style => 'color:white;'%>
          <%end%>
          <a class='dropdown-button btn' href='#' data-activates='imagetheat'>Validar Imágenes</a>
          <ul id='imagetheat' class='dropdown-content'>
            <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"image",:status=>"Valido", :model=>"theater_evidence")%>"data-confirm="¿Estás seguro?">Validar</a></li>
            <%if get_observation_id("image","theater_evidence") != ""%>
              <li><a href="<%=edit_revision_path(get_observation_id("image","theater_evidence"))%>">Editar observacion</a></li>
            <%else%>
              <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"image",:status=>"Invalido", :model=>"theater_evidence")%>">Agregar observaciones</a></li>
            <%end%>
          </ul>
          <%if get_status("image","theater_evidence") == "Invalido"%>
            <div class="input-field">
              <textarea class="materialize-textarea" disabled><%=get_observation("image","theater_evidence")%></textarea>
            </div>
          <%end%>
        </div>
        <div class="secondary-content">
          <%= get_status("image","theater_evidence") %>
        </div>
      </li>


      <li class="collection-item avatar">
        <i class="material-icons circle">folder</i>
        <span class="title">Notas de prensa</span>
        <div style="margin-top:16px">
          <% f.object.note.each do |ob| %>
            <%= link_to 'Descargar', ob.url , :target=>"_blank", :class => 'waves-effect waves-light btn', :style => 'color:white;'%>
          <%end%>
          <a class='dropdown-button btn' href='#' data-activates='notetheather'>Validar Notas de prensa</a>
          <ul id='notetheather' class='dropdown-content'>
            <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"note",:status=>"Valido", :model=>"theater_evidence")%>"data-confirm="¿Estás seguro?">Validar</a></li>
            <%if get_observation_id("note","theater_evidence") != ""%>
              <li><a href="<%=edit_revision_path(get_observation_id("note","theater_evidence"))%>">Editar observacion</a></li>
            <%else%>
              <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"note",:status=>"Invalido", :model=>"theater_evidence")%>">Agregar observaciones</a></li>
            <%end%>
          </ul>
          <%if get_status("note","theater_evidence") == "Invalido"%>
            <div class="input-field">
              <textarea class="materialize-textarea" disabled><%=get_observation("note","theater_evidence")%></textarea>
            </div>
          <%end%>
        </div>
        <div class="secondary-content">
          <%= get_status("note","theater_evidence") %>
        </div>
      </li>

      <li class="collection-item avatar">
        <i class="material-icons circle">folder</i>
        <span class="title">Invitaciones, constancias y/o reconocimientos</span>
        <div style="margin-top:16px">
          <% f.object.document.each do |ob| %>
            <%= link_to 'Descargar', ob.url , :target=>"_blank", :class => 'waves-effect waves-light btn', :style => 'color:white;'%>
          <%end%>
          <a class='dropdown-button btn' href='#' data-activates='documenttheat'>Validar Invitaciones, constancias y/o reconocimientos</a>
          <ul id='documenttheat' class='dropdown-content'>
            <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"document",:status=>"Valido", :model=>"theater_evidence")%>"data-confirm="¿Estás seguro?">Validar</a></li>
            <%if get_observation_id("document","theater_evidence") != ""%>
              <li><a href="<%=edit_revision_path(get_observation_id("document","theater_evidence"))%>">Editar observacion</a></li>
            <%else%>
              <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"document",:status=>"Invalido", :model=>"theater_evidence")%>">Agregar observaciones</a></li>
            <%end%>
          </ul>
          <%if get_status("document","theater_evidence") == "Invalido"%>
            <div class="input-field">
              <textarea class="materialize-textarea" disabled><%=get_observation("document","theater_evidence")%></textarea>
            </div>
          <%end%>
        </div>
        <div class="secondary-content">
          <%= get_status("document","theater_evidence") %>
        </div>
      </li>

    </ul>
  </div>
</div>

<!--



<div >
  Teatro
  <%= f.hidden_field :id %>
  <%= f.label 'Video de muestra' %>
  <%= f.text_field :video %>
  <%= f.label 'Sitio web' %>
  <%= f.text_field :web %>

  <div class="file-field input-field">
    <div class="btn">
      <span>
        Cargar
        <%= f.file_field :letter %>
      </span>
    </div>
    <div class="file-path-wrapper">
      <%= text_field_tag nil, f.object.letter_identifier, class: 'file-path validate', placeholder: 'Carta' %>
    </div>

  </div>

  <div class="file-field input-field">
    <div class="btn">
      <span>
        Cargar
        <%= f.file_field :script %>
      </span>
    </div>
    <div class="file-path-wrapper">
      <%= text_field_tag nil, f.object.script_identifier, class: 'file-path validate', placeholder: 'Guion' %>
    </div>
  </div>

  <div class="file-field input-field">
    <div class="btn">
      <span>
        Cargar
        <%= f.file_field :image, multiple: true  %>
      </span>
    </div>
    <div class="file-path-wrapper">
      <%= text_field_tag nil, f.object.images, class: 'file-path validate', placeholder: 'Imagenes' %>
    </div>
  </div>
  <div class="file-field input-field">
    <div class="btn">
      <span>
        Cargar
        <%= f.file_field :note, multiple: true  %>

      </span>
    </div>
    <div class="file-path-wrapper">
      <%= text_field_tag nil, f.object.notes, class: 'file-path validate', placeholder: 'Notas de prensa' %>
    </div>
  </div>
  <div class="file-field input-field">
    <div class="btn">
      <span>
        Cargar
        <%= f.file_field :document, multiple: true  %>
      </span>
    </div>
    <div class="file-path-wrapper">
      <%= text_field_tag nil, f.object.documents, class: 'file-path validate', placeholder: 'Invitaciones, constancias y/o reconocimientos' %>
    </div>
  </div>  -->
</div>
