<style>
span.ayuda {
  font-size: 0.8rem;
  margin-top: -15px;
  display: block;
  margin-left: 1em;
}
.marge24{
  margin-bottom: 24px;
}
</style>
<span class="card-title">Información del proyecto</span>
<%# <%= render 'docs_perproject_informationson_fields', f: p %>
<%#= p.hidden_field :id %>
<ul class="collection">
  <li class="collection-item avatar">
    <i class="material-icons circle">lens</i>
    <span class="title">Nombre del proyecto</span>
    <p class="flow-text"><%=@information.name%></p>
    <div style="margin-top:16px">
      <a class='dropdown-button btn' href='#' style="color:white!important;" data-activates='proyect_name'>Validar Nombre del proyecto</a>
      <ul id='proyect_name' class='dropdown-content'>
        <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"name",:status=>"Valido", :model=>"information")%>"data-confirm="¿Estás seguro?">Validar</a></li>
        <%if get_observation_id("name","information") != ""%>
        <li><a href="<%=edit_revision_path(get_observation_id("name","information"))%>">Editar observacion</a></li>
        <%else%>
        <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"name",:status=>"Invalido", :model=>"information")%>">Agregar observaciones</a></li>
        <%end%>
      </ul>
      <%if get_status("name","information") == "Invalido"%>
      <div class="input-field">
        <textarea class="materialize-textarea"  disabled><%=get_observation("name","information")%></textarea>
        <label for="textarea1">Observaciones del Nombre del proyecto</label>
      </div>
      <%end%>
    </div>
    <div class="secondary-content">
      <%= get_status("activities","information") %>
    </div>
  </li>
  <li class="collection-item avatar">
    <i class="material-icons circle">lens</i>
    <span class="title">Descripción</span>
    <div style="margin-top:16px">
      <a class='dropdown-button btn' href='#' style="color:white!important;" data-activates='proyect_description'>Validar Descripción</a>
      <ul id='proyect_description' class='dropdown-content'>
        <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"description",:status=>"Valido", :model=>"information")%>"data-confirm="¿Estás seguro?">Validar</a></li>
        <%if get_observation_id("description","information") != ""%>
        <li><a href="<%=edit_revision_path(get_observation_id("description","information"))%>">Editar observacion</a></li>
        <%else%>
        <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"description",:status=>"Invalido", :model=>"information")%>">Agregar observaciones</a></li>
        <%end%>
      </ul>
      <%if get_status("description","information") == "Invalido"%>
      <div class="input-field">
        <textarea class="materialize-textarea"  disabled><%=get_observation("description","information")%></textarea>
        <label for="textarea1">Observaciones de Descripción</label>
      </div>
      <%end%>
    </div>
    <div class="secondary-content">
      <%= get_status("description","information") %>
    </div>
  </li>
  <li class="collection-item avatar">
    <i class="material-icons circle">lens</i>
    <span class="title">Antecedentes</span>
    <p class="flow-text"><%=@information.antecedent%></p>
    <div style="margin-top:16px">
      <a class='dropdown-button btn' href='#' style="color:white!important;" data-activates='proyect_antecedent'>Validar Antecedentes</a>
      <ul id='proyect_antecedent' class='dropdown-content'>
        <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"antecedent",:status=>"Valido", :model=>"information")%>"data-confirm="¿Estás seguro?">Validar</a></li>
        <%if get_observation_id("antecedent","information") != ""%>
        <li><a href="<%=edit_revision_path(get_observation_id("antecedent","information"))%>">Editar observacion</a></li>
        <%else%>
        <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"antecedent",:status=>"Invalido", :model=>"information")%>">Agregar observaciones</a></li>
        <%end%>
      </ul>
      <%if get_status("antecedent","information") == "Invalido"%>
      <div class="input-field">
        <textarea class="materialize-textarea"  disabled><%=get_observation("antecedent","information")%></textarea>
        <label for="textarea1">Observaciones de Antecedentes</label>
      </div>
      <%end%>
    </div>
    <div class="secondary-content">
      <%= get_status("antecedent","information") %>
    </div>
  </li>
  <li class="collection-item avatar">
    <i class="material-icons circle">lens</i>
    <span class="title">Justificación</span>
    <p class="flow-text"><%=@information.justification %></p>
    <div style="margin-top:16px">
      <a class='dropdown-button btn' href='#' style="color:white!important;" data-activates='proyect_justification'>Validar Justificación</a>
      <ul id='proyect_justification' class='dropdown-content'>
        <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"justification",:status=>"Valido", :model=>"information")%>"data-confirm="¿Estás seguro?">Validar</a></li>
        <%if get_observation_id("justification","information") != ""%>
        <li><a href="<%=edit_revision_path(get_observation_id("justification","information"))%>">Editar observacion</a></li>
        <%else%>
        <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"justification",:status=>"Invalido", :model=>"information")%>">Agregar observaciones</a></li>
        <%end%>
      </ul>
      <%if get_status("justification","information") == "Invalido"%>
      <div class="input-field">
        <textarea class="materialize-textarea"  disabled><%=get_observation("justification","information")%></textarea>
        <label for="textarea1">Observaciones de Justificación</label>
      </div>
      <%end%>
    </div>
    <div class="secondary-content">
      <%= get_status("justification","information") %>
    </div>
  </li>
  <li class="collection-item avatar">
    <i class="material-icons circle">lens</i>
    <span class="title">Objetivos generales</span>
    <p class="flow-text"><%=@information.general_objective %></p>
    <div style="margin-top:16px">
      <a class='dropdown-button btn' href='#' style="color:white!important;" data-activates='proyect_general_objective'>Validar Objetivo general</a>
      <ul id='proyect_general_objective' class='dropdown-content'>
        <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"general_objective",:status=>"Valido", :model=>"information")%>"data-confirm="¿Estás seguro?">Validar</a></li>
        <%if get_observation_id("general_objective","information") != ""%>
        <li><a href="<%=edit_revision_path(get_observation_id("general_objective","information"))%>">Editar observacion</a></li>
        <%else%>
        <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"general_objective",:status=>"Invalido", :model=>"information")%>">Agregar observaciones</a></li>
        <%end%>
      </ul>
      <%if get_status("general_objective","information") == "Invalido"%>
      <div class="input-field">
        <textarea class="materialize-textarea"  disabled><%=get_observation("general_objective","information")%></textarea>
        <label for="textarea1">Observaciones de Objetivo general</label>
      </div>
      <%end%>
    </div>
    <div class="secondary-content">
      <%= get_status("general_objective","information") %>
    </div>
  </li>
  <li class="collection-item avatar">
    <i class="material-icons circle">lens</i>
    <span class="title">Objetivos específicos</span>
    <p class="flow-text"><%=@information.specific_objective %></p>
    <div style="margin-top:16px">
      <a class='dropdown-button btn' href='#' style="color:white!important;" data-activates='proyect_specific_objective'>Validar Objetivos específicos</a>
      <ul id='proyect_specific_objective' class='dropdown-content'>
        <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"specific_objective",:status=>"Valido", :model=>"information")%>"data-confirm="¿Estás seguro?">Validar</a></li>
        <%if get_observation_id("specific_objective","information") != ""%>
        <li><a href="<%=edit_revision_path(get_observation_id("specific_objective","information"))%>">Editar observacion</a></li>
        <%else%>
        <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"specific_objective",:status=>"Invalido", :model=>"information")%>">Agregar observaciones</a></li>
        <%end%>
      </ul>
      <%if get_status("specific_objective","information") == "Invalido"%>
      <div class="input-field">
        <textarea class="materialize-textarea"  disabled><%=get_observation("specific_objective","information")%></textarea>
        <label for="textarea1">Observaciones de Objetivos específicos</label>
      </div>
      <%end%>
    </div>
    <div class="secondary-content">
      <%= get_status("specific_objective","information") %>
    </div>
  </li>
  <li class="collection-item avatar">
    <i class="material-icons circle">lens</i>
    <span class="title">Metas o propósitos</span>
    <p class="flow-text"><%=@information.goals %></p>
    <div style="margin-top:16px">
      <a class='dropdown-button btn' href='#' style="color:white!important;" data-activates='proyect_goals'>Validar Metas o propósitos</a>
      <ul id='proyect_goals' class='dropdown-content'>
        <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"goals",:status=>"Valido", :model=>"information")%>"data-confirm="¿Estás seguro?">Validar</a></li>
        <%if get_observation_id("goals","information") != ""%>
        <li><a href="<%=edit_revision_path(get_observation_id("goals","information"))%>">Editar observacion</a></li>
        <%else%>
        <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"goals",:status=>"Invalido", :model=>"information")%>">Agregar observaciones</a></li>
        <%end%>
      </ul>
      <%if get_status("goals","information") == "Invalido"%>
      <div class="input-field">
        <textarea class="materialize-textarea"  disabled><%=get_observation("goals","information")%></textarea>
        <label for="textarea1">Observaciones de Metas o propósitos</label>
      </div>
      <%end%>
    </div>
    <div class="secondary-content">
      <%= get_status("goals","information") %>
    </div>
  </li>
  <li class="collection-item avatar">
    <i class="material-icons circle">lens</i>
    <span class="title">Titulares de derecho</span>
    <p class="flow-text"><%=@information.beneficiary %></p>
    <div style="margin-top:16px">
      <a class='dropdown-button btn' href='#' style="color:white!important;" data-activates='proyect_beneficiary'>Validar Titulares de derecho</a>
      <ul id='proyect_beneficiary' class='dropdown-content'>
        <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"beneficiary",:status=>"Valido", :model=>"information")%>"data-confirm="¿Estás seguro?">Validar</a></li>
        <%if get_observation_id("beneficiary","information") != ""%>
        <li><a href="<%=edit_revision_path(get_observation_id("beneficiary","information"))%>">Editar observacion</a></li>
        <%else%>
        <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"beneficiary",:status=>"Invalido", :model=>"information")%>">Agregar observaciones</a></li>
        <%end%>
      </ul>
      <%if get_status("beneficiary","information") == "Invalido"%>
      <div class="input-field">
        <textarea class="materialize-textarea"  disabled><%=get_observation("beneficiary","information")%></textarea>
        <label for="textarea1">Observaciones de Titulares de derecho</label>
      </div>
      <%end%>
    </div>
    <div class="secondary-content">
      <%= get_status("beneficiary","information") %>
    </div>
  </li>
  <li class="collection-item avatar">
    <i class="material-icons circle">lens</i>
    <span class="title">Ubicación y contexto</span>
    <p class="flow-text"><%=@information.context %></p>
    <div style="margin-top:16px">
      <a class='dropdown-button btn' href='#' style="color:white!important;" data-activates='proyect_context'>Validar Ubicación y contexto</a>
      <ul id='proyect_context' class='dropdown-content'>
        <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"context",:status=>"Valido", :model=>"information")%>"data-confirm="¿Estás seguro?">Validar</a></li>
        <%if get_observation_id("context","information") != ""%>
        <li><a href="<%=edit_revision_path(get_observation_id("context","information"))%>">Editar observacion</a></li>
        <%else%>
        <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"context",:status=>"Invalido", :model=>"information")%>">Agregar observaciones</a></li>
        <%end%>
      </ul>
      <%if get_status("context","information") == "Invalido"%>
      <div class="input-field">
        <textarea class="materialize-textarea"  disabled><%=get_observation("context","information")%></textarea>
        <label for="textarea1">Observaciones de Ubicación y contexto</label>
      </div>
      <%end%>
    </div>
    <div class="secondary-content">
      <%= get_status("context","information") %>
    </div>
  </li>
  <li class="collection-item avatar">
    <i class="material-icons circle">lens</i>
    <span class="title">Bibliografía</span>
    <p class="flow-text"><%=@information.bibliography %></p>
    <div style="margin-top:16px">
      <a class='dropdown-button btn' href='#' style="color:white!important;" data-activates='proyect_bibliography'>Validar Bibliografía</a>
      <ul id='proyect_bibliography' class='dropdown-content'>
        <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"bibliography",:status=>"Valido", :model=>"information")%>"data-confirm="¿Estás seguro?">Validar</a></li>
        <%if get_observation_id("bibliography","information") != ""%>
        <li><a href="<%=edit_revision_path(get_observation_id("bibliography","information"))%>">Editar observacion</a></li>
        <%else%>
        <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"bibliography",:status=>"Invalido", :model=>"information")%>">Agregar observaciones</a></li>
        <%end%>
      </ul>
      <%if get_status("bibliography","information") == "Invalido"%>
      <div class="input-field">
        <textarea class="materialize-textarea"  disabled><%=get_observation("bibliography","information")%></textarea>
        <label for="textarea1">Observaciones de Bibliografía</label>
      </div>
      <%end%>
    </div>
    <div class="secondary-content">
      <%= get_status("bibliography","information") %>
    </div>
  </li>
  <li class="collection-item avatar">
    <i class="material-icons circle">folder</i>
    <span class="title">Cronograma de actividades, desgloce de gastos  y Fuentes de financiamiento</span>
    <div style="margin-top:16px">
      <%=link_to 'Descargar Cronograma de actividades', @project.information.activities.url,:target => "_blank", :class => 'waves-effect waves-light btn', :style => 'color:white!important;' %>
      <!--%= select_tag "lala",options_for_select([[get_status("request_letter"), 1]]) %-->
      <a class='dropdown-button btn' href='#' style="color:white!important;" data-activates='activities'>Validar Cronograma de actividades</a>
      <ul id='activities' class='dropdown-content'>
        <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"activities",:status=>"Valido", :model=>"information")%>"data-confirm="¿Estás seguro?">Validar</a></li>
        <%if get_observation_id("activities","information") != ""%>
        <li><a href="<%=edit_revision_path(get_observation_id("activities","information"))%>">Editar observacion</a></li>
        <%else%>
        <li><a href="<%=new_revision_path(:project_id => @project.id, :user_id=> @project.user.id,:field=>"activities",:status=>"Invalido", :model=>"information")%>">Agregar observaciones</a></li>
        <%end%>

      </ul>

      <%if get_status("activities","information") == "Invalido"%>
      <div class="input-field">
        <textarea class="materialize-textarea"  disabled><%=get_observation("activities","information")%></textarea>
        <label for="textarea1">Observaciones de Cronograma de actividades, desgloce de gastos  y Fuentes de financiamiento</label>
      </div>
      <%end%>
    </div>
    <div class="secondary-content">
      <%= get_status("activities","information") %>
    </div>
  </li>
  
  
  <li class="collection-item avatar">
    <i class="material-icons circle">folder</i>
    <span class="title">Retribución</span>
    <div class="row">
      <div class="input-field col s12 m6">
        <%= select_tag  :modality_id,   options_from_collection_for_select(Modality.all.order(:name), :id, :name, @project.retribution.modality_id),
                     { :prompt=> 'Seleccione' , :disabled => true}  %>
        <%= label_tag :modality_id, 'Modalidad' %>
      </div>
      <div class="input-field col s12 m6">
        <%= select_tag :art_activity_id,  options_from_collection_for_select(ArtActivity.all.order(:name), :id, :name, @project.retribution.art_activity_id),
                     { :prompt=> 'Seleccione' , :disabled => true}  %>
        <%= label_tag :art_activity_id, 'Actividad' %>
      </div>
      <div class="input-field col s12">
        <%= label_tag :description, 'Descripción' %>
        <%= text_area_tag :description,@project.retribution.description, :class=>"materialize-textarea" , :disabled => true%>
      </div>
    </div>
  </li>
</ul>


