<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>Second last name:</strong>
  <%= @person.second_last_name %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @person.birthdate %>
</p>

<p>
  <strong>Home phone number:</strong>
  <%= @person.home_phone_number %>
</p>

<p>
  <strong>Cellphone:</strong>
  <%= @person.cellphone %>
</p>

<!--p>
  <strong>Birthplace:</strong>
  <%= @person.birthplace %>
</p-->

<p>
  <strong>State:</strong>
  <%= @person.state %>
</p>

<p>
  <strong>City:</strong>
  <%= @person.city %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @person.nationality %>
</p>

<p>
  <strong>Level study:</strong>
  <%= @person.level_study %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @person.birthdate %>
</p>

<p>
  <strong>Address:</strong>
  <%= @person.address %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
