<%= form_with(model: user, local: true) do |form| %>
<% if user.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

  <ul>
    <% user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="row">
  <div class="col s12 m4">
    <div class="input-field">
      <%= form.label :first_name, 'Nombre' %>
      <%= form.text_field :first_name, id: :user_first_name, :required => true %>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="input-field">
      <%= form.label :last_name, 'Apellido paterno' %>
      <%= form.text_field :last_name, id: :user_last_name, :required => true %>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="input-field">
      <%= form.label :second_last_name, 'Apellido materno' %>
      <%= form.text_field :second_last_name, id: :user_second_last_name, :required => true %>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="input-field">
      <%= form.label :email, 'Correo electrónico' %>
      <%= form.email_field :email, autofocus: true, :type=>'email', :required => true %>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="input-field">
      <%#= form.text_field :role, id: :user_role, :required => true %>
      <%= select_tag(:role, options_for_select([['Admin', 1], ['Juez', 2]]))%>
      <label>Tipo de usuario</label>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="input-field">
      <%#= form.text_field :role, id: :user_role, :required => true %>
      <%= form.select :account_active, [['Active', true], ['Inactive', false]]%>
      <label>Estatus</label>
    </div>
  </div>
</div>
  <!--div class="input-field">
    <%#= form.label :person_id_id %>
    <%#= form.text_field :person_id_id, id: :user_person_id_id, :required => true %>
  </div-->

  <div class="actions">
    <%= form.submit 'Guardar cambios', class: 'btn waves-effect waves-light' %>
  </div>
  <% end %>
