<div class="nested-fields">
  <%= f.hidden_field :id %> 
  <%= f.label :street %>
  <%= f.text_field :street %>
  <%= f.label :internal_number %>
  <%= f.text_field :internal_number %>
  <%= f.label :external_number %>
  <%= f.text_field :external_number %>
  <%= f.label :colony %>
  <%= f.text_field :colony %>
  <%= f.label :zip %>
  <%= f.text_field :zip %>
</div>
