<%= form_with(model: project, local: true) do |form| %>
  <p>
     En este formulario elegirás la categoría y disciplina de tu proyecto
  </p>
  <br>
  <%= render 'errors' %>
  <div class="input-field", id="category">
    <%= form.select :category_id, options_for_select(Category.options_array, :selected=> form.object.category_id), prompt: 'Seleccione una categoria'%>
    <%= form.label :category, 'Categoría' %>
  </div>
  <div class="field hide" id="art">
    <%= form.label :art_form, 'Modalidad' %>
    <%= form.select :art_forms,  options_from_collection_for_select(ArtForm.all.order(:name), :id, :name, form.object.art_forms.to_a.pluck(:id)),
      { :prompt=> 'Seleccione ' },{:multiple=>true}  %>
</div>
<div class="row">
  <div id="single" class="col s6 center active-project">
    <div class="row no-margin-bottom">
      <i class="material-icons large">person</i>
    </div>
    <div class="row no-margin-bottom">
      <span>Individual</span>
    </div>
  </div>
  <div  class="col s6 center">
    <div class="row no-margin-bottom">
      <i class="material-icons large">people</i>
    </div>
    <div class="row no-margin-bottom">
      <span>Colectivo</span>
    </div>
  </div>
</div>


<div class="actions">
  <%= form.submit "Guardar", class: 'btn' %>
</div>
<% end %>
