<div class="nested-fields" >
  <%= f.hidden_field :id %>
  <div class="file-field input-field">
    <div class="btn">
      <span>
        Semblanza
        <%= f.file_field :request_letter %>
      </span>
    </div>
    <div class="file-path-wrapper">
      <%= text_field_tag nil, f.object.request_letter_identifier, class: 'file-path validate', placeholder: 'Cargar semblanza indivisual o colectiva' %>
    </div>
  </div>
  <div class="file-field input-field">
    <div class="btn">
      <span>
        Acta de nacimiento
        <%= f.file_field :birth %>
      </span>
    </div>
    <div class="file-path-wrapper">
      <%= text_field_tag  nil, f.object.birth_identifier, class: 'file-path validate', placeholder: 'Cargar acta de nacimiento', id: nil, name: nil %>
    </div>
  </div>
  <div class="file-field input-field">
    <div class="btn">
      <span>
        Domicilio
        <%= f.file_field :address %>
      </span>
    </div>
    <div class="file-path-wrapper">
      <%= text_field_tag nil, f.object.address_identifier, class: 'file-path validate', placeholder: 'Cargar comprobante de domicilio' %>
    </div>
  </div>
  <div class="file-field input-field">
    <div class="btn">
      <span>
        Identificación
        <%= f.file_field :identification %>
      </span>
    </div>
    <div class="file-path-wrapper">
      <%= text_field_tag nil, f.object.identification_identifier, class: 'file-path validate', placeholder: 'Cargar identificación oficial con foto' %>
    </div>
  </div>
  <div class="file-field input-field">
    <div class="btn">
      <span>
        CURP
        <%= f.file_field :curp %>
      </span>
    </div>
    <div class="file-path-wrapper">
      <%= text_field_tag nil, f.object.curp_identifier, class: 'file-path validate', placeholder: 'Cargar CURP' %>
    </div>
  </div>
  <div class="file-field input-field">
    <div class="btn">
      <span>
        Currículum
        <%= f.file_field :resume %>
      </span>
    </div>
    <div class="file-path-wrapper">
      <%= text_field_tag nil, f.object.resume_identifier, class: 'file-path validate', placeholder: 'Cargar currículum vitae' %>
    </div>
  </div>
  <div class="file-field input-field">
    <div class="btn">
      <span>
        Cargar
        <%= f.file_field :kardex %>
      </span>
    </div>
    <div class="file-path-wrapper">
      <%= text_field_tag nil, f.object.kardex_identifier, class: 'file-path validate', placeholder: 'kardex' %>
    </div>
  </div>
  <div class="file-field input-field">
    <div class="btn">
      <span>
        Cargar
        <%= f.file_field :agreement_letter %>
      </span>
    </div>
    <div class="file-path-wrapper">
      <%= text_field_tag nil, f.object.agreement_letter_identifier, class: 'file-path validate', placeholder: 'Cargar carta de consentimiento' %>
    </div>
  </div>
  <div class="file-field input-field">
    <div class="btn">
      <span>
        Cargar
        <%= f.file_field :assign_letter %>
      </span>
    </div>
    <div class="file-path-wrapper">
      <%= text_field_tag nil, f.object.assign_letter_identifier, class: 'file-path validate', placeholder: 'assign_letter' %>
    </div>
  </div>


</div>
