<div class="col s12 m12 l7 fomac-intro">
  <div class="row no-bottom-margin">
    <div class="col s12 center">
      <img src="/assets/fomac-logotipo.png" class="responsive-img logotipo"  alt="">
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <p class="description">
        Con el propósito de impulsar el desarrollo artístico y cultural del municipio de Chihuahua, el Gobierno Municipal a través de su Instituto de Cultura, organiza la primera emisión del Fondo Municipal para Artistas y Creadores (FOMAC).<br>
      </p>
      <p class="center">
        <a target="_blank" href="/docs/FOLLETO_FOMAC.pdf"><img src="/assets/convocatoria_button.png" alt="convocatoria" class="responsive-img convocatoria-button"></a>
      </p>
    </div>
  </div>
</div>
<div class="col s12 m12 l5 col-center">
  <div class="card-content">
    <h4 class="center">Registro de proyecto</h4>
    <br><p class="center">Ingresa o crea tu cuenta </p>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="input-field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>
    </div>
    <div class="input-field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off", :class => "mi-otra-clasesita" %>
    </div>

    <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :Recuérdame %>
    </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Iniciar sesión", :class => "waves-effect waves-light btn" %>
    </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</section>

