<div class="col s12">
 <ul class="pagination">
  <li class="waves-effect <%= @proy_ready %> <%= @anexo_ready %> <%= url_for(:only_path => true) == nav_project ? "btn" : "" %>">
    <%= link_to nav_project do %>
    1.Registro
    <% end %>
  </li>
  <li class="waves-effect <%= @part_ready %> <%= @anexo_ready %> <%= url_for(:only_path => true) == nav_participant ? "btn" : "" %>" >
    <%= link_to nav_participant do %>
    2.Participantes
    <% end %>
  </li>
  <li class="waves-effect <%= @anexo_ready %> <%= url_for(:only_path => true) == nav_anexo ? "btn" : "" %>" >
    <%= link_to nav_anexo do %>
    3.Anexos
    <% end %>
  </li>
  <li class="waves-effect <%= @doc_ready %> <%= url_for(:only_path => true) == nav_documents ? "btn" : "" %>" >
    <%= link_to nav_documents do %>
    4.Documentos
    <% end %>
  </li>
  <li class="waves-effect <%= @info_ready %> <%= url_for(:only_path => true) == nav_information ? "btn" : "" %>" >
    <%= link_to nav_information do %>
    5.Proyecto
    <% end %>
  </li>
  <li class="waves-effect <%= @retri_ready %> <%= url_for(:only_path => true) == nav_retribution ? "btn" : "" %>" >
    <%= link_to nav_retribution do %>
    6.Retribución
    <% end %>
  </li>
  <li class="waves-effect <%= @evi_ready %> <%= url_for(:only_path => true) == nav_evidence ? "btn" : "" %>">
    <%= link_to nav_evidence do %>
    7.Evidencias
    <% end %>
  </li>
</ul>
</div>