<!DOCTYPE html>
<html>
  <head>
    <title>Fomac</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>        
      <div class="background-header">
        <div class="header-container">
          <div class="row">
            <div class="col s12 m12 l6 hide-on-med-and-down center margin-top-sm">
              <a href="http://prueba.icm.gob.mx/">
                <img src="/assets/logo.jpg" class="responsive-img" alt="">
              </a>
            </div>
            <div class="col s12 m12 l6 hide-on-large-only left margin-top-sm">
              <img src="/assets/logo.jpg" class="responsive-img" alt="">
            </div>
            <div class="col s12 m12 l6 hide-on-med-and-down">
              <div class="row no-bottom-margin margin-top-sm">
                <div class="row no-bottom-margin font-size-xsm">
                  <div class="col s4 offset-s5 m4 offset-m5 l4 offset-l5 center">
                    siguenos
                  </div>
                </div>
                <div class="col s4 offset-s5 m4 offset-m5 l4 offset-l5 center">
                  <div class="col s3 m3 l3 no-padding"><a href="https://www.facebook.com/ICMchihuahua"><img src="/assets/buttons/facebook_button.jpg" alt=""></a></div>
                  <div class="col s3 m3 l3 no-padding"><a href="https://www.youtube.com/user/AudiovisualesICM"><img src="/assets/buttons/youtube_button.jpg" alt=""></a></div>
                  <div class="col s3 m3 l3 no-padding"><a href=""><img src="/assets/buttons/twitter_button.jpg" alt=""></a></div>
                  <div class="col s3 m3 l3 no-padding"><a href=""><img src="/assets/buttons/instagram_button.jpg" alt=""></a></div>    
                </div>
              </div>
              <div class="row no-bottom-margin">
                <div class="col s5 offset-s5 m5 offset-m5 l5 offset-l5">
                  <form role="search" method="get" id="searchform" action="http://icm.webxaa.com/">
                    <div class="col s9 m9 l9 no-padding">
                      <input type="hidden" name="sentance" value="1">
                      <input id="s" name="s" type="text" class="validate">
                    </div>
                    <div class="col s3 m3 l3 padding-fix-search-button">
                      <input id="searchsubmit" src="/assets/buttons/search_button.jpg" type="image">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row no-bottom-margin">
        <nav class="grey darken-2">
          <div class="custom-container">
            <div class="nav-wrapper">
              <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
              <ul class=" center hide-on-med-and-down">
                <li><a href="http://prueba.icm.gob.mx/">INICIO</a></li>
                <li><a href="http://prueba.icm.gob.mx/?page_id=46">CARTELERA</a></li>
                <li><a class='dropdown-button' data-activates='info' href="http://prueba.icm.gob.mx/?page_id=130">¿QUIENES SOMOS?</a></li>
                <li><ul id='info' class='dropdown-content grey darken-2'>
                    <li><a class="white-text" href="http://prueba.icm.gob.mx/?page_id=165">TRANSPARENCIA</a></li>
                    <li class="divider"></li>
                    <li><a class="white-text" href="http://prueba.icm.gob.mx/?page_id=181">AVISO DE PRIVACIDAD</a></li>
                  </ul>
                </li>
                <li><a href="http://prueba.icm.gob.mx/?page_id=132">DIRECTORIO</a></li>
                <li><a class='dropdown-button' data-activates='areas' href="http://prueba.icm.gob.mx/?page_id=82">NUESTRAS ÁREAS</a></li>
                <li><ul id='areas' class='dropdown-content grey darken-2'>
                    <li><a class="white-text" href="http://prueba.icm.gob.mx/?page_id=89">MUSEO SEBASTIAN</a></li>
                    <li class="divider"></li>
                    <li><a class="white-text" href="http://prueba.icm.gob.mx/?page_id=103">MEDIATECA</a></li>
                    <li class="divider"></li>
                    <li><a class="white-text" href="http://prueba.icm.gob.mx/?page_id=121">TEATRO DE LA CIUDAD</a></li>
                    <li class="divider"></li>
                    <li><a class="white-text" href="http://prueba.icm.gob.mx/?page_id=125">CDC</a></li>
                    <li class="divider"></li>
                    <li><a class="white-text" href="http://prueba.icm.gob.mx/?page_id=127">CONSERVATORIO</a></li>
                  </ul>
                </li>
                <li><a href="http://prueba.icm.gob.mx/?page_id=71">PRENSA</a></li>
                <li><a href="http://prueba.icm.gob.mx/?page_id=80">NUESTROS PRODUCTOS</a></li>
                <li><a href="http://prueba.icm.gob.mx/?page_id=53">CONTACTO</a></li>
              </ul>
              <ul class="side-nav" id="mobile-demo">
                <li><a href="">INICIO</a></li>
                <li><a href="http://prueba.icm.gob.mx/?page_id=46">CARTELERA</a></li>
                <li><a href="http://prueba.icm.gob.mx/?page_id=130">¿QUIENES SOMOS?</a></li>
                <li><a href="http://prueba.icm.gob.mx/?page_id=132">DIRECTORIO</a></li>
                <li><a href="http://prueba.icm.gob.mx/?page_id=82">NUESTRAS ÁREAS</a></li>
                <li>
                  <ul>
                    <li><a href="http://prueba.icm.gob.mx/?page_id=89">MUSEO SEBASTIAN</a></li>
                    <li><a href="http://prueba.icm.gob.mx/?page_id=103">MEDIATECA</a></li>
                    <li><a href="http://prueba.icm.gob.mx/?page_id=121">TEATRO DE LA CIUDAD</a></li>
                    <li><a href="http://prueba.icm.gob.mx/?page_id=125">CDC</a></li>
                    <li><a href="http://prueba.icm.gob.mx/?page_id=127">CONSERVATORIO</a></li>
                  </ul>
                </li>
                <li><a href="http://prueba.icm.gob.mx/?page_id=71">PRENSA</a></li>
                <li><a href="http://prueba.icm.gob.mx/?page_id=80">NUESTROS PRODUCTOS</a></li>
                <li><a href="http://prueba.icm.gob.mx/?page_id=53">CONTACTO</a></li>
              </ul>


            </div>
          </div>
        </nav>
      </div>
    </header>
    <section id="main-content">
      <section class="grey lighten-3 login-form">
        <p class="alert"><%= alert %></p>
        <p class="notice"><%= notice %></p>
        <div class="container">
          <div class="row">
            <div class="col s12 m12 l12 z-depth-4 card col-center animated bounceInRight">
              <%= yield %>
            </div>
          </div>
        </div>
        </div>
        <div class="fixed-action-btn">
          <%= link_to('Cerrar sesion',destroy_user_session_path, method: :delete, 
                      class: 'btn  ') if user_signed_in?  %>
      </div>
      </section>
      <footer class="page-footer white ">
        <div class="col s12 m12 l12 center">
          <img src="/assets/placeholders/logo-chihuahua.jpg" alt="" class="responsive-img">
        </div>
      </footer>
    </section>
  </body>
